body{
    background-image: url("./imagesCF/background-image-darkwood.jpg");
    background-size: cover;
}
.fullPageCoverage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.stronglyCentered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
}
#shield{
    z-index: 100;
    background-color: transparent;
    display: none;
}
#settingsPageContainer{
    z-index: 100;
    display: none;
}
#settingsPage{
    background-color: rgba(38, 38, 38, 0.8);
}
#closeButton{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url("./imagesCF/close-icon.svg");
    background-size: contain;
}
#closeButton:hover{
    cursor: pointer;
}
#menuContainer{
    width: 300px;
    height: 250px;
    background-color: rgb(250,250,250);
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
    box-shadow: 0 10px 6px -6px black;
}
.menuItemContainer{
    width: 200px;
    height: 50px;
    background-color: rgba(38, 38, 38, 1.0);
    border-radius: 10px;
}
.menuItemContainer:hover{
    cursor: pointer;
}
.menuItem{
    color: white;
    font-size: 20px;
}
#settingsButton{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-image: url('./imagesCF/gear4.svg');
    background-size: contain;
}
#settingsButton:hover{
    cursor: pointer;
}
#pageContainer {
    width: 600px;
    height: 550px; /* The sum of 100px + 400px + 50px */
}
#header{
    position: relative;
    width: 100%;
    height: 100px;
}
#centerBody{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 10;
}
#footer{
    width: 100%;
    height: 50px;
    position: relative;
}
#gameContainerFrame{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-left: 6px solid rgb(1,7,74);
    border-bottom: 6px solid rgb(1,7,74);
    border-right: 6px solid rgb(1,7,74);
    box-sizing: border-box;
    z-index: 10;
}
#gameContainer {
    position: relative;
    z-index: 20;
    width: calc(100% - 6px - 6px);
    height: calc(100% - 6px);
    margin: 0px 6px 6px 6px;
}

.gameBoardColumn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    z-index: 40;
}
.dropHover {
    background-color: red;
}

.gamePiece{
    position: absolute;
    background-size: contain;
    /*-webkit-animation-name: rotateOut;*/  /* This animation property is applied in JS when a player wins */
    /*animation-name: rotateOut;*/

    /*-webkit-animation: bounce 1s both;*/


    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

/*
    -webkit-transition: top 0.8s ease;
    -moz-transition: top 0.8s ease;
    -o-transition: top 0.8s ease;
    transition: top 0.8s ease;
*/
}
.bounceAnimation{
    -webkit-animation: bounce 1s both;
}
.bottomChip, .topChip{
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.topChip{
    opacity: 0.0;
}
svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
}
#scoreBoardContainer{
    position: relative;
    top: 10px;
    width: 100%;
    height: 40px;
}
#scoreBoard{
    width: 90%;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    display: inline-block;
}
#scoreSeparatorContainer{
    width: 30px;
    height: 100%;
    position: relative;
    float: left;
}
#scoreSeparator, .displayPlayerName, .displayPlayerScore{
    position: absolute;
    font-size: 24px;
    font-weight: 500;
    color: white;
}
#scoreSeparator, .displayPlayerScore{
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}
.displayPlayerName{
    top: 50%;
    transform: translateY(-50%);
    padding: 2px 30px 2px 30px;
    background-color: rgba(3,20,175,0.8);
    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 10px rgb(1,7,74); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -webkit-box-shadow: inset 0 0 10px rgb(1,7,74); /* Firefox 3.5 - 3.6 */
    box-shadow:         inset 0 0 10px rgb(1,7,74); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.displayPlayerName.selected{
    border: 1px solid rgb(255,255,0);
    box-sizing: border-box;
    opacity: 1;
}
.displayPlayerName.left{
    left: 5%;
}
.displayPlayerName.right{
    right: 5%;
}
.smoothBorderTransition{
    border: 1px solid rgb(1,7,74);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.displayPlayerNameContainer{
    box-sizing: border-box;
    color: white;
    font-weight: 500;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 30px;
    right: 30px;
}
#scoreBoardPlayer0{
    /*background-color: orange;*/
}
#scoreBoardPlayer1{
    /*background-color: yellow;*/
}
.scoreBoardPlayer{
    width: calc(50% - 15px); /* Subtract 15px (30px/2) for the separator */
    height: 100%;
    position: relative;
    float: left;
}
.scoreBoardPlayerWrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.displayPlayerChip{
    position: absolute;
    top: 0px;
    /*left: 0px;*/
    width: 30px;
    height: 30px;
    background-size: cover;
}
.displayPlayerChip.left{
    left: 0px;
}
.displayPlayerChip.right{
    right: 0px;
}
.displayPlayerScoreContainer{
    position: absolute;
    height: 30px;
    top: 0px;
    /*right: 0px;*/
    width: 30px;
}
.displayPlayerScoreContainer.left{
    right: 0px;
}
.displayPlayerScoreContainer.right{
    left: 0px;
}
@-webkit-keyframes rotateOut {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 200deg);
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0;
    }
}

@keyframes rotateOut {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 200deg);
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0;
    }
}

@keyframes bounce {
    0%{
        /* going down */
        transform: translateY(0%);
        animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);

    }
    30%{
        /* going up */
        transform: translateY(-80%);
        animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    60%{
        /* going down */
        transform: translateY(0%);
        animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    80%{
        /* going up */
        transform: translateY(-20%);
        animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);

    }
    100%{
        /* going down */
        transform: translateY(0%);
        animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
}
@-webkit-keyframes bounce {
    0%{
        /* going down */
        -webkit-transform: translateY(0%);
        -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    30%{
        /* going up */
        -webkit-transform: translateY(-80%);
        -webkit-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    60%{
        /* going down */
        -webkit-transform: translateY(0%);
        -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    80%{
        /* going up */
        -webkit-transform: translateY(-20%);
        -webkit-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    100%{
        /* going down */
        -webkit-transform: translateY(0%);
        -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
}
@-moz-keyframes bounce {
    0%{
        /* going down */
        -moz-transform: translateY(0%);
        -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    30%{
        /* going up */
        -moz-transform: translateY(-80%);
        -moz-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    60%{
        /* going down */
        -moz-transform: translateY(0%);
        -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    80%{
        /* going up */
        -moz-transform: translateY(-20%);
        -moz-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    100%{
        /* going down */
        -moz-transform: translateY(0%);
        -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
}
@-o-keyframes bounce {
    0%{
        /* going down */
        -o-transform: translateY(0%);
        -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    30%{
        /* going up */
        -o-transform: translateY(-80%);
        -o-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    60%{
        /* going down */
        -o-transform: translateY(0%);
        -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    80%{
        /* going up */
        -o-transform: translateY(-20%);
        -o-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);

    }
    100%{
        /* going down */
        -o-transform: translateY(0%);
        -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
}