/**************************** 
**        Banner           **
*****************************/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.banner{
	width: 100%;
	min-width: 200px;
	height: 600px;
	position: relative;
	background-image: url("./images/bar_table_stools.jpg");
	background-image: url("./images/beautiful_pacific_ocean.jpg");
	background-size: cover;
}

.dimOverlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: 101;
	background-color: #000;
	opacity: 0.4;
}
.centerHorizontally{
    position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;	
}
.centerVertically{
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;	
}
.centerBoth{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    display: inline-block;
}
/**************************** 
**    Header /Titles       **
*****************************/
.header{
	width: auto;
	height: auto;
	z-index: 102;
	position: absolute;
	top: 50px;
}
body{
	font-family:"Lucida Sans Unicode", sans-serif;
}
.title{
	color: white;
	font-size: 30px;
	position: absolute;
	top: 450px;
	white-space: nowrap;
	/*min-width: 405px;*/
	z-index: 102;
}
.subtitle{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 500px;
	z-index: 102;
}
/**************************** 
**          Menu           **
*****************************/
.menu{
	display: inline-block;
	z-index: 102;
	width: 100%;
	position: absolute;
	top: 130px;
}
.menu ul {
	list-style-position: inside;
    padding: 0px;
    margin: 0px;
	text-align: center;
}
.menu li {
    list-style-type: none;
    display: inline-block;
    line-height: 30px;
    font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
    padding: 0px 8px 0px 8px;
    margin: 0px 5px 0px 5px;
    color: rgba(255,255,255, 0.7);
}
a {
    text-decoration: none;
	color: inherit;
}
a:hover{
	color: rgba(255,255,255, 1.0);
}
/**************************** 
**     Welcome Section     **
*****************************/
.welcomeSection{
	width: 100%;
	
}
.intro{
	width: 75%;
    /*min-width: 375px;*/
	height: inherit;
	display: inline-block;
	position: relative;
	float: left;
	box-sizing: border-box;
	padding: 20px 40px 20px 40px;
}
.operation{
	width: 25%;
	height: inherit;
	display: inline-block;
	box-sizing: border-box;
	/*padding: 20px;*/
}
.operationInfoTile{
	padding: 20px;
}
h3{
	color: black;
	font-size: 32px;
}
h4{
	color: darkgray;
	font-size: 18px;
	text-transform: uppercase;
}
p{
	color: gray;
	font-size: 14px;
}
/**************************** 
**        Drinks           **
*****************************/
.drinks{
	width: 100%;
	height: auto;
	background-image: url("./images/cocktail_pineapple_filled.jpg");
	background-size: cover;
	position: relative;
}

.wrapper{
	width: 90%;
	height: auto;
	position: relative;
	display: inline-block;
	z-index: 102;
}
.column{
	width: 33%;
	height: 100%;
	position: relative;
	display: inline-block;
	float: left;
	z-index: 102;
	padding: 20px;
	box-sizing: border-box;
}
.item{
	width: 100%;
}
.drinkTitle{
	width: 75%;
	line-height: 30px;
	color: white;
	font-weight: 600;
	display: inline-block;
	float: left;
	text-align: left;
}
.drinkPrice{
	width: 25%;
	height: 30px;
	display: inline-block;
	color: white;
	float: right;
	text-align: right;
}
.drinkDescription{
	width: 100%;
	color: white;
	text-align: left;
	display: inline-block;
	/*padding-top: 15px;*/ 
}
/**************************** 
**        Food             **
*****************************/
.food{
	width: 100%;
}

.foodCategory{
	width: 90%;
	display: inline-block;
}
.foodTitle{
	width: 75%;
	line-height: 30px;
	color: black;
	font-weight: 600;
	display: inline-block;
	float: left;
	text-align: left;
}
.foodPrice{
	width: 25%;
	height: 30px;
	display: inline-block;
	color: black;
	float: right;
	text-align: right;
}
.foodDescription{
	width: 100%;
	color: black;
	text-align: left;
	display: inline-block;
	/*padding-top: 15px;*/                         
}
.foodLogo{
	width: 100%;
	height: 100px;
	background-color: #000000;
	top: 50%;
	transform: translateY(-50%);
}

/**************************** 
**     Reservations        **
*****************************/
.reservations{
	width: 100%;
	height: 150px;
	position: relative;
}

.r1{
	height: 70px;
	padding-top: 10px;
}
.r2{
	position: absolute;
	top: 70px;
	text-align: center;
	width: 100%;
}

/**************************** 
**  Slider: Food Images    **
*****************************/
 .outer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.innerwrap {
    width: 300%;
    height: 100%;
}
.inner {
    width: 33.33%;
    height: 100%;
    /* border: 1px solid red; */
    /* box-sizing: border-box; */
    background-color: linen;
    float: left;
    position: relative;
}
.slider {
    width: 100%;
    height: 600px;
    display: inline-block;
    position: relative;
}

.arrow {
    transform: translateY(-50%);
    z-index: 101;
}
.arrow:hover{
	cursor: pointer;
}
.arrow img{
	width: 20px;
}
#prev {
    position: absolute;
    left: 10px;
    top: 50%;
}
#next {
    position: absolute;
    right: 10px;
    top: 50%;
}
.frontPageImg {
    height: 100%;
    width: 100%;
    background-size: cover;
	background-position-x: center;
}
.imgSource1 {
    background-image: url("./images/Matador-Room-Avocado-Lunch.jpg");
}
.imgSource2 {
    background-image: url("./images/Matador-Room-Veal.jpg");
}
.imgSource3 {
    background-image: url("./images/Matador-Room-App.jpg");
}

/*
*    End of slider styling
*/

/**************************** 
**     Mobile Styling      **
*****************************/
@media only screen and (max-width: 500px){
	.banner, .welcomeSection{
		width: 100vw;
	}
	.header{
		width: 80vw;
	}
	.header img{
		width: 100%;
	}
	.title{
		font-size: 7vw;
        white-space: nowrap;
        font-weight: bold;
	}
	.subtitle{
		font-size: 6vw;
	}
	.menu li{
		font-size: 14px;
		line-height: 14px;
	}
	.intro{
		width: 100%;
	}
	.operation{
		width: 100%;
	}
	.slider{
		width: 100vw;
		height: 400px;
	}
	.foodLogo{
		width: 100vw;
	}
	.foodLogoContainer{
		width: 80vw;
	}
	.foodLogoContainer img{
		width: 100%;
	}
	.food{
		width: 100vw;
	    height: auto;
	    padding: 0px;
	}
	.foodCategory{
		width: 98%;
		height: auto;
        padding: 20px 10px 20px 10px;
	}
	.column{
		height: auto;
		padding: 0px;
	}
	.item{
		width: 100%;
		padding: 5px;
        box-sizing: border-box;
	}
	.foodTitle, .drinkTitle{
		font-size: 4vw;
        height: auto;
        line-height: 5vw;
	}
	.foodPrice{
		font-size: 4vw;
        line-height: 5vw;
        vertical-align: middle;
	}
	.drinkPrice{
		display: none;
	}
	.drinks{
		width: 100vw;
        height: auto;
	}
	.drinks .wrapper{
		width: 98%;
        height: auto;
        display: inline-block;
	}
	h3{
		font-size: 7vw;
	}
	h4{
		font-size: 5vw;
	}
	.reservations{
		width: 100vw;
        height: auto;
        padding: 0px;
	}
	.r2{
		width: 90%;
	}
	
}

/* Fix item height so items are horizontally aligned among all columns */
.food .item{
	min-height: 160px;
}
.drinks .item{
	min-height: 155px;
}

/* Adjust menu spread for large screens */
@media only screen and (min-width: 800px){
	.column{
		padding: 20px 50px 20px 50px; 
	}
}
